/*

	EEEEEEEEEEEE             DDD             DDD
	EEEEEEEEEEEE             DDD             DDD     II
	EEEE                     DDD             DDD
	EEEE                     DDD             DDD
	EEEEEEEEEEEE    DDDDDDDDDDDD    DDDDDDDDDDDD    IIII	 EEEEEEEEEE
	EEEEEEEEEEEE    DDDDDDDDDDDD    DDDDDDDDDDDD    IIII	EEE      EEE
	EEEE            DDD      DDD    DDD      DDD    IIII	EEE      EEE
	EEEE            DDD      DDD    DDD      DDD    IIII	EEEEEEEEEEEE
	EEEEEEEEEEEE    DDDDDDDDDDDD    DDDDDDDDDDDD    IIII	EEE
	EEEEEEEEEEEE    DDDDDDDDDDDD    DDDDDDDDDDDD    IIII     EEEEEEEEEE


	WWWW            WWWW
	WWWW    WWWW    WWWW
	WWWW    WWWW    WWWW
	WWWW    WWWW    WWWW
	WWWW    WWWW    WWWW     EEEEEEEEEE     NN  NNNNNN
	WWWW    WWWW    WWWW    EEE      EEE    NN NNNNNNNN
	WWWW    WWWW    WWWW    EEE      EEE    NNNNN  NNNNN
	 WWWW WWWWWWWW WWWW     EEEEEEEEEEEE    NNNN    NNNN
	  WWWWWWW  WWWWWWW      EEE             NNNN    NNNN
	   WWWWW    WWWWW        EEEEEEEEEE     NNNN    NNNN    from TAIWAN

*/
@import url('//fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.clear {
	clear: both;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.v-mid {
	display: flex;
	align-items: center;
}

:focus {
	outline: none !important;
}

/*
::selection {
	background: transparent;
	color: #9E0360;
}
*/

h1 {
	font-size: 44px;
	line-height: 50px;
}

h2 {
	font-size: 32px;
	line-height: 38px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
}

h5 {
	font-size: 16px;
	line-height: 22px;
}

h6 {
	font-size: 10px;
	line-height: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

a[href^=tel] {
	color: inherit;
	text-decoration: none;
}
